<style>
    .search-btn {
        width: 9rem;
    }
</style>

<nav class="navbar navbar-expand-lg m-nav sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse m-nav" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/listing">All listing</a>
            </div>

            <div class="search-bar m-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>

            <div class="navbar-nav ms-auto ">
                <a class="nav-link" href="/listing/new">Add newListing</a>
                <% if(currUser) {%>
                    <a class="nav-link" href="/logout"><b>logout</b></a>
                    <% }else{ %>
                        <a class="nav-link btn " aria-current="page" href="/signup"><b>signup</b></a>
                        <a class="nav-link btn" href="/login"><b>login</b></a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>