<% layout("/layout/boilerplate") %>

    <body>
        <form action="/login" method="post" class="needs-validation" novalidate>
            <h1 class="col-6 offset-3">login</h1>
            <div class="col-6 offset-3">
                <div class="mt-3 ">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                    <div class="invalid-feedback">
                        please enter a username
                    </div>
                </div>
                <div class="mt-3 ">
                    <label for="password" class="form-label">password</label>
                    <input type="password" class="form-control" placeholder="password" name="password" required>
                    <div class="invalid-feedback">
                        please enter a password
                    </div>
                </div>
                <button class="btn btn-success mt-3 mb-3">login</button>
            </div>
        </form>
    </body>